<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .center-text {
        text-align: center;
      }
    </style>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>КРУТОЙ ФОРУМ ДЛЯ СУТЕНДОВ</title>
  </head>
  <body class="center-text">
    <h1>КРУТОЙ ФОРУМ ДЛЯ СУТЕНДОВ НА КОТОРОМ ВСЕ ПИЩУТ КАПСОМ</h1>
    <img src="/logo.png" alt="ЛОГО ФОРУМА" />
    <div>
      <a href="/">ГЛАВНАЯ</a>
    </div>

    <div>
      <a href="/login" class="btn">ЛОГИН</a>
      <a href="/register">РЕГИСТРАЦИЯ</a>
    </div>
  </body>
</html>
